PyPDF2
pandas
numpy
ast
spacy
nltk
matplotlib
pyplot
word_tokenize
stopwords
WordNetLemmatizer
BigramAssocMeasures
sklearn
BigramCollocationFinder
TfidfVectorizer
TruncatedSVD
cosine_similarity
manhattan_distances
pyresparser
ResumeParser
docx
Document
googlesearch
search
fuzzywuzzy
process
fuzz
gensim
string
pickle
builtins
enumerate
jinja2
Environment
