gunicorn
typing-extensions
PyPDF2
numpy
six
python-dateutil
pytz
pandas
joblib
tqdm
regex
zipp
importlib-metadata
click
nltk 
pillow
fonttools
packaging
pyparsing
cycler
kiwisolver
matplotlib
stopwords
scipy
threadpoolctl
scikit-learn 
cosine-similarity
pycparser
cffi
cryptography
charset-normalizer
pdfminer.six
chardet
idna
cymem
attrs
importlib-resources
pyrsistent
pkgutil-resolve-name
jsonschema
certifi
pycryptodome
urllib3
pydantic
wasabi
murmurhash
blis
catalogue
srsly
preshed
confection
thinc
spacy-legacy
MarkupSafe
jinja2
typer
smart-open
pathy
requests
spacy
docx2txt
sortedcontainers
pyresparser
lxml
python-docx
Document
soupsieve 
beautifulsoup4 
googlesearch-python
fuzzywuzzy
fuzz
gensim 
Environment
en-core-web-sm
spacy==3.1.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
