gunicorn
PyPDF2
pandas
numpy
spacy
nltk
matplotlib
stopwords
scikit-learn
cosine_similarity
pyresparser
python-docx
Document
googlesearch-python
fuzzywuzzy
fuzz
gensim
jinja2
Environment
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
blis==0.7.4
typing-extensions==3.10.0.2
spacy==3.1.3
